<!DOCTYPE html>
<html lang="en">

<!-- HTML Head -->
<head>
  <meta charset="UTF-8">
  <title>Project 3 Home</title>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>


  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bottons elements -->
    <script src="static\js\bottons.js"></script>




</head>



<!-- HTML Body -->
<body>

    <!-- Title Jumbo-->

    <div class="my-5 text-center">
        <div class="h-100 p-5 text-bg-dark border rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Analysis of the school enrollment and graduation in the province of Ontario</h1>
                <p class="col-lg-8 mx-auto lead">
                    In this page you will find different routes that will show the graphs, maps, and API that we build for the project
                </p>
            </div>
        </div>
    </div>

    <!-- Map Jumbo-->
    
    <div class="container my-5">
        <div class="p-5 bg-body-tertiary rounded-3">
            <div class="row">
                <div class="col-lg-8">
                    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
                    <h1 class="text-body-emphasis">School and Board Map</h1>
                    <p class="fs-5 text-muted">
                        This visualization will show the map of Ontario and generate the markers for each school and relative information. We are still working on this feature.
                    </p>
                    <div class="d-inline-flex gap-2 mb-5">
                        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                            Show Map (ICON)
                            <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Graph Jumbo-->

    <div class="container my-5">
        <div class="h-100 p-5 text-bg-dark border rounded-3 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-md-6">
                    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
                    <h1 class="display-5 fw-bold">School and Board Graphs</h1>
                    <p>
                        Questa visualizzazione mostrerà i grafici per il confronto di varie scuole e consigli di amministrazione. Il lavoro è ancora in corso.
                    </p>
                </div>
                <div class="col-md-6 text-end">
                    <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                        Mostra Grafici (ICONA)
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- API Jumbo -->

    <div class="container my-5">
        <div class="p-5 bg-body-tertiary rounded-3 d-flex align-items-center justify-content-center" style="min-height: 80vh;">
            <div class="row">
                <div class="col-lg-8">
                    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
                    <h1 class="text-body-emphasis">Display the Jsonifyed API we used</h1>
                    <p class="fs-5 text-muted">
                        Here you'll find our API 
                    </p>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <div class="d-inline-flex flex-column gap-2">
                      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" onclick="showSchoolApi()">
                        Show School API (ICON)
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                      </button>
                      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" onclick="showBoardApi()">
                        Show Board API (ICON)
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                      </button>
                      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" onclick="showEnrollmentApi()">
                        Show Enrollment API (ICON)
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                      </button>
                      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" onclick="showGraduationApi()">
                        Show Graduation API (ICON)
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
          <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p class="text-body-secondary">© 2024</p>
          </div>
      
          <div class="col mb-3">
      
          </div>
      
          <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>
      
          <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>
      
          <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>
        </footer>
      </div>

  <!-- Our JavaScript file -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
  
  <!-- Bootstrap JavaScript file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
