<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>NYC Boroughs</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>

    <!-- map div -->
    <div id="map"></div>

    <!-- JavaScript file -->
    <script src="{{ url_for('static', filename='js/schools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <!-- <script type="text/javascript" src="static/js/logic2.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/logic3.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/logic4.js"></script> -->

  </body>
</html>
